@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div style="margin: auto; display: block; text-align: center">
                <img src="../../Images/banner.png" alt="" />
            </div>
            <p>
                Bienvenido a computer´s Store, su tienda de Informática.
                Aquí encontrará las mejores ofertas en informática, así como nuestro taller especializado en reparaciones de ordenadores de sobremesa, portátiles, impresoras, etc...
            </p>
        </div>
    </section>
}

